<template name="ApplicationLayout">

    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster|Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Caveat|Zeyada' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>



    <header>
        <h1 id="title">Tony and Luigis</h1>
        <h2>Italian Mediterranen Restaurant</h2>
    </header>

    <body>
        <div class="row">
            <div class="col s12">
                <section>
                    <ul id="gallery">
                        <li>
                            <a href="">
                                <img src="out.jpg" />
                            </a>
                        </li>
                    </ul>
                    <h1 id="head1">Welcome</h1>
                    <p id="description">Tony and Luigi's is a fresh and exciting place to dine. It has a modern flare, but maintains it's welcoming atmosphere. Whatever the occasion, Tony and Luigi's creates the perfect ambience. A place where diner's will enjoy an evning with a fine bottle of wine, excellent food and great company. At Tony and Luigi's we want all our customers to enjoy their every dining experience. Tony and Luigi's was opened by leading restaurateur Faruk "Frank" Zulcic in 2008. With an emphasis on refined yet creative cuisine, the menu incorporates both traditional classic favorites and original new dishes. Acclaimed favorites include Bruschetta, Chicken Rollatini, and Braised Lamb Shank. Located in prominent Georgetown in a mid-town location, the restaurant seats 132 guests and is available for semi-private parties such as birthdays, fundraisers, rehersal dinners, etc. Tony and Luigi's even allows you the option of selecting your own menu. We also offer catering for any outside functions, with or without service accomodations. </p>
                </section>
            </div>
        </div>
    </body>

    <header>
        <h1 id="menupg">Menu</h1>
    </header>
    <div class="row">

        <div id="simple">

            <body>
                <h1 id="items">A P P E T I Z E R S</h1>

                <h8>A R T I C H O K E & P E P P E R S D I P.......... 8.99</h8>
                <br>
                <h9>artichoke,bell peppers, spinach,cheeses and pita chips.</h9>
                <br>

                <h8>S H R I M P C O C K T A I L.......... 10.99</h8>
                <br>
                <h9>jumbo shrimp, cocktail sauce, parmesan, toast.</h9>
                <br>

                <h8>C A L A M A R I.......... 8.99</h8>
                <br>
                <h9>calamari, marinara, red pepper ranch dressing.</h9>
                <br>

                <h8>T O M A T O & B A S I L B R U S C H E T T A.......... 7.99</h8>
                <br>
                <h9>ciabatta bread, pesto, mozzarella, tomatoes, basil, feta cheese.</h9>
                <br>

                <h8>C R A B C A K E S.......... 10.99</h8>
                <br>
                <h9>crab cakes, chipotle aioli, spring salad mix.</h9>
                <br>

                <h8>S T U F F E D M U S H R O O M S.......... 8.99</h8>
                <br>
                <h9>mushrooms, mozzarella, tomatoes, bread crumbs, spinach.</h9>
                <br>
                <h8>I T A L I A N Q U E S A D I L L A.......... 7.99</h8>
                <br>
                <h9>flour tortillas, roma tomatoe, mozzarella, spinach, garlic, fresh basil.</h9>
                <br>
                <h8>M O Z Z A R E L L A S T I C K S.......... 6.99</h8>
                <br>
                <h9>fried mozzarella, marinara, red pepper ranch dressing.</h9>
                <br>

                <h1 id="items">S O U P S    &    S A L A D S </h1>


                <h8>S O U P D E J O U R</h8>
                <br>

                <h9>by the cup 3.99 by the bowl 5.99</h9>
                <br>


                <h8>S I D E S A L A D</h8>
                <br>
                <h9>romaine lettuce, field greens, tomatoes, onions, croutons. 4.99 with entrée 2.99</h9>
                <br>

                <h8>G A R D E N S A L A D.......... 7.99</h8>
                <br>
                <h9>romaine lettuce, field greens, tomatoes, onions, croutons.</h9>
                <br>

                <h8>G R I L L E D S A L M O N S A L A D.......... 13.99</h8>
                <br>
                <h9>green leaf lettuce, field greens, tomatoes, oranges, salmon, vinegar, italian dressing.</h9>
                <br>

                <h8>S P I N A C H S A L A D.......... 8.99</h8>
                <br>
                <h9>spinach, tomatoes, onions, walnuts, gorgonzola, cucumber, gorgonzola dressing.pina</h9>
                <br>

                <h8>C A E S A R S A L A D.......... 7.99</h8>
                <br>
                <h9>romaine lettuce, parmesan, caesar dressing, croutons.</h9>
                <br>

                <h8>G R E E K S A L A D.......... 9.99</h8>
                <br>
                <h9>romaine lettuce, field greens, artichoke hearts, capers, tomatoes, onions, kalamata olives, feta cheese, cucumbers.</h9>
                <br>

                <h8>C A P R E S E S A L A D.......... 8.99</h8>
                <br>
                <h9>tomatoes, fresh mozzarella, balsamic vinegar, olive oil, roasted red peppers, basil.</h9>
                <br>


                <h8>D R E S S I N G S </h8>
                <br>
                <h9>red pepper ranch /// gorgonzola cream /// kalamatafete /// balsamic vinaigrette /// honey mustard /// italian /// caesar</h9>
                <br>

                <h1 id="items">P A S T A</h1>


                <h8>A L F R E S C A C A V A T E L L I .......... 13.99</h8>
                <br>
                <h9>cavatelli pasta, eggplant, broccoli ,mushrooms, fresh tomatoes, garlic, olive oil. </h9>
                <br>

                <h8>F O U R C H E E S E P E N N E.......... 13.99m</h8>
                <br>
                <h9>fontina, gorgonzola, cheddar, mozzarella, parmesan, cream sauce.
                </h9>
                <br>
                <h8>F E T T U C C I N E A L F R E D O.......... 11.99</h8>
                <br>
                <h9>homemade fettuccine, alfredo sauce, mushrooms, peas.</h9>
                <br>
                <h8>S P A G H E T T I</h8>
                <br>
                <h9>marinara..........9.99 bolognese..........10.99</h9>
                <br>
                <h8>C R E A M Y F E T T U C C I N E W I T H B A S I L P E S T O.......... 13.99</h8>
                <br>
                <h9>fettuccine pasta, pesto sauce, cream. </h9>
                <br>
                <h8>P E N N E A L L A A R R A B B I A T A.......... 12.99</h8>
                <br>
                <h9>spicy sauce of tomato, bacon, fresh chili. </h9>
                <br>
                <h8>P A S T A P R I M A V E R A .......... 13.99</h8>
                <br>
                <h9>sautéed seasonal vegetables, penne pasta, spicy roasted red peppers, corn, chicken, alfredo sauce.</h9>
                <br>

                <h8>L U I G I' S P E N N E P A S T A.......... 13.99 </h8>
                <br>
                <h9>penne, bellpeppers, tomatoe sauce, italian sausage, parmesan, feta cheese.</h9>
                <br>

                <h8> P A S T A C A R B O N A R A .......... 11.99 </h8>
                <br>
                <h9>spaghetti, heavy cream, pancetta, egg yolk, peas, parmesan.</h9>
                <br>

                <h8>G N O C C H I L U I G I .......... 13.99</h8>
                <br>
                <h9>potato pasta, your choice of: marinara, alfredo, tomato alfredo, red pepper alfredo, or bolognese. </h9>
                <br>

                <h8>G N O C C H I C A S A N O V A......... 14.99</h8>
                <br>
                <h9>potato pasta, alfredo sauce, pesto, tomatoes, spinach, nutmeg.</h9>
                <br>


                <h1 id="items">B A K E D   P A S T A</h1>


                <h8>T O R T E L L I N I A L L A V E R D E .......... 12.99</h8>
                <br>
                <h9>cheese tortellini, prosciutto, peas, spinach, sun dried tomatoes, roasted red pepper alfredo sauce. </h9>
                <br>

                <h8>R A V I O L I L U I G I.......... 12.99 </h8>
                <br>
                <h9>meat, cheese, or spinach ravioli, or tortellini, your choice of: marinara, alfredo, tomato alfredo, red pepper alfredo, or bolognese.</h9>
                <br>

                <h8>S T U F F E D M A N I C O T T I .......... 13.99 </h8>
                <br>
                <h9>three manicotti shells stuffed with ricotta, your choice of: marinara, bolognese, alfredo.</h9>
                <br>

                <h8>L A S A G Ñ A A L F O R N O.......... 15.99</h8>
                <br>
                <h9>meat ragu, four cheeses, your choice of sauce: marinara or bolognese.</h9>
                <br>

                <h8>E G G P L A N T P A R M I G A N A.......... 13.99</h8>
                <br>
                <h9>breaded, fried and baked eggplant, mozzarella, marinara, fettuccine.</h9>
                <br>
            </body>
        </div>

    </div>
    <header>
        <h1 id="contact">Find Us</h1>
    </header>

    <body>

        <div class="row">
            <div class="col s12">
                <h10 id="findus">📍 1201 S Church St Georgetown, TX 78626</h10>
                <br>
                <br>
                <h10 id="findus">📞 (512) 864-2687</h10>
                <br>
                <br>
            </div>

        </div>

        <a href="http://www.yelp.com/biz/tony-and-luigis-italian-mediterranean-restaurante-georgetown-2"><img src="yelp1.png" alt="yelp" class="social-media-icon"></a>

    </body>

    <header>
        <h1 id="contact">Full Bar</h1>
    </header>

    <body>
        <div class="row">
            <div class="col s12">
                <section>
                    <ul id="gallery">
                        <li>
                            <a href="">
                                <img src="bar.jpg" />
                            </a>
                        </li>
                    </ul>
                    <p id="description">In addition to the comprehensive menu, Tony and luigi's restaurant offers an excellent selection of Italian wines
                        <br> and liqueurs as well as all know alcoholic beverages and soft drinks. Combine this with quality bar service,
                        <br> and you can be rest assured that your every need will be met. So, whether you are after a light lunch,
                        <br>a family occasion, a romantic evening meal or simply somewhere to relax and enjoy the real taste of Italy,
                        <br>you can be certain that Tony and luigi's restaurant will meet your every need for a very memorable dining experience
                        <br>… Buon Appetito!</p>
                </section>
            </div>
        </div>
    </body>

    <header>
        <h1 id="contact">Take Out and Catering</h1>
    </header>
    <div class="row">

        <div class="col m4 13 ">
            <div id="take">
                <br>
                <br>
                <h8>Home Made Bread Rolls / 50 rolls</h8>
                <br>
                <h9>+ Dill Spread Cheese</h9>
                <br>
                <br>
                <h5> Soup & Salad</h5>
                <br>
                <br>
                <h8> Soup by the bowl</h8>
                <br>
                <h9>Soup de jour</h9>
                <br>
                <h8>Caesar Salad</h8>
                <br>
                <h9>Romaine, croutons, tomatoes & shaved parmesan</h9>
                <br>
                <h9>Cheese tossed in our Caesar dressing.</h9>
                <br>
                <h9>Add chicken</h9>
                <br>
                <h8>Caprese Salad</h8>
                <br>
                <h9>Wine tomatoes, fresh mozzarella and fresh basil
                    <br> drizzled with balsamic vinegar olive oil and
                    <br> red peppers.</h9>
                <br>
                <h8>Greek Salad</h8>
                <br>
                <h9>Romaine, spring mix, artichoke hearts, capers,
                    <br> tomato, onions, kalamata olives, feta and
                    <br> Marinated cucumbers.</h9>
                <br>
                <br>
                <h5>Antipasti (Appetizers)</h5>
                <br>
                <br>
                <h8>Stuffed Mushrooms</h8>
                <br>
                <h9>button mushrooms stuffed with spinach, Italian
                    <br> breadcrumbs celery, onions and 3 kinds</h9>
                <br>
                <h8>Buffalo Chicken Wrapped</h8>
                <br>
                <h9>Grilled chicken breast with hot sauce,
                    <br> ripe tomatoes, shredded lettuce and our
                    <br> famous chipotle dressing, wrapped in
                    <br> flour tortilla.</h9>
                <br>
                <h8>Turkey and Cheese Wrapped</h8>
                <br>
                <h9>Smoked Turkey breast, ripe tomatoes,
                    <br> shredded lettuce, American cheese, and
                    <br> mayonnaise wrapped in a flour tortilla.</h9>
                <br>
                <h8>Grilled Chicken Wrapped</h8>
                <br>
                <h9>A tender chicken breast with lettuce, tomato
                    <br> and mayonnaise.</h9>
                <br>
                <h8>Italian Quesadilla</h8>
                <br>
                <h9>Flour tortillas stuffed with asiago cheese, roma
                    <br> tomatoes, mozzarella, spinach and fresh basil.</h9>
                <br>
                <h8>Tomato & Basil Bruschetta</h8>
                <br>
                <h9>Foccacia herb bread, baked with pesto,
                    <br> mozzarella, and parmesan cheese,
                    <br> fresh roma tomatoes, basil, and feta cheese</h9>
                <br>
                <h8>Hummus</h8>
                <br>
                <h9>Greek-style hummus with lemon, garlic and
                    <br> fresh oregano served with savory pita chips.</h9>
                <br>
                <h8>Crab Cakes</h8>
                <br>
                <h9>crab cakes topped with chipotle aioli and
                    <br> spring mix salad.</h9>
                <br>
                <h8>Mozzarella Sticks</h8>
                <br>
                <br>
                <h8>Chicken Fingers</h8>
                <br>
                <h9>choice of sauce: Ranch, Ketchup, Marinara, Alfredo</h9>
                <br>
                <br>
                <h5>Pasta</h5>
                <br>
                <br>
                <h8>Spaghetti</h8>
                <br>
                <h9>Our homemade pasta with your
                    <br> choice of sauce : Chunky Marinara or Bolognese</h9>
                <br>
                <h8>Pasta Prima Vera</h8>
                <br>
                <h9>Our Alfredo sauce with penne pasta, fresh vegetables
                    <br> and grilled chicken.</h9>
                <br>
                <h8>Ravioli Alla Tony</h8>
                <br>
                <h9>Choice of cheese, spinach, or meat ravioli, tossed with
                    <br> tomato alfredo, shallots, garlic, and fresh spinach.</h9>
                <br>
                <h8>Fettuccini Alfredo</h8>
                <br>
                <h9>Our homemade fettuccini noodles
                    <br> tossed with alfredo sauce and mushroom
                    <br> Add chicken or Add shrimp</h9>
                <br>
                <h8>Vegetarian Lasagna</h8>
                <br>
                <h9>fresh pasta served with your choice of marinara or
                    <br> Bolognese sauce.</h9>
                <br>
                <h8>Eggplant Parmesan</h8>
                <br>
                <h9>Fresh sliced eggplant, lightly breaded and sautéed
                    <br> until golden brown topped with our house marinara
                    <br> and mozzarella cheese served on top of our
                    <br> Homemade fettuccini pasta.</h9>
                <br>
                <br>
                <h5>Pizzas</h5>
                <br>
                <br>
                <h8>Tony’s Signature</h8>
                <br>
                <h9>A colossal combination of mozzarella cheese, fresh mozzarella,
                    <br> mushrooms, red and green peppers, black and green
                    <br> olives, sliced tomatoes, chicken and Shiitake mushrooms.</h9>
                <br>
                <h8>4 Cheese</h8>
                <br>
                <h9>Mozzarella, parmesan, gorgonzola
                    <br> goat cheese.</h9>
                <br>
                <h8>Cheese Pizza</h8>
                <br>
                <h9>Mozzarella Cheese</h9>
                <br>
                <br>
                <h5>Pollo (Chicken)</h5>
                <br>
                <br>
                <h8>Chicken Piccatta</h8>
                <br>
                <h9>Chicken breast sautéed in a lemon caper sauce,
                    <br> Served on a bed of spaghetti.</h9>
                <br>
                <h8>Stuffed Chicken</h8>
                <br>
                <h9>A succulent chicken breast stuffed with spinach,
                    <br> mushrooms and mozzarella cheese topped with
                    <br> chipotle aioli, served with rice.</h9>
                <br>
                <h8>Pollo Alla Parmigiana</h8>
                <br>
                <h9>Baked chicken breast, with melted mozzarella
                    <br> cheese, chunky marinara sauce over fettuccini pasta.</h9>
                <br>
                <br>
                <h5>Veal</h5>
                <br>
                <br>
                <h8>Veel Scallopine Piccata</h8>
                <br>
                <h9>Thinly sliced veal cutlets served with a lemon
                    <br> caper sauce. Served on a bed of spaghetti.</h9>
                <br>
                <br>
                <h7>Sides</h7>
                <br>
                <br>
                <h9>•Italian Fries • Wilted Spinach • Rosemary Potatoes •
                    <br>Steamed Green Beans • Sautéed Veggies • Basmati Rice •
                    <br> • Roasted Garlic and Herb Mashed Potatoes</h9>
                <br>
                <br>
                <h5>Dolce (Desserts)</h5>
                <br>
                <br>
                <h8>Tiramisu</h8>
                <br>
                <h9>Made in house with espresso soaked lady fingers
                    <br> and a mascarpone filling.</h9>
                <br>
                <h8>Barcelona Chocolate Cake</h8>
                <br>
                <h9>A decadent lemon syrup soaked chocolate cake filled
                    <br> with fluffy cream and topped with chocolate.</h9>
                <br>
                <h8>Italian Cream Cake</h8>
                <br>
                <h9>A traditional cream cake with pecans and coconut
                    <br> with a lemon cream cheese frosting.</h9>
                <br>
                <h8>Italian Cheesecake</h8>
                <br>
                <h9>A creamy Italian cheesecake with almonds and coconut.</h9>
                <br>
                <br>

            </div>
        </div>

        <div class="col s6">
            <div id="price">
                20 ppl
                <h13>..................</h13>10ppl
                <br>
                <br> $ 20.00
                <h13>..................</h13>$ 10.00
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> $ 40.00
                <h13>..................</h13>$ 25.00
                <br>
                <br> $ 43.00
                <h13>..................</h13>$ 23.00
                <br>
                <br>
                <br>
                <br> $ 50.00
                <h13>..................</h13>$ 32.00
                <br>
                <br>
                <br>
                <br> $ 58.00
                <h13>..................</h13>$ 38.00
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> $ 50.00
                <h13>..................</h13>$ 30.00
                <br>
                <br>
                <br> $ 40.00
                <h13>..................</h13>$ 25.00
                <br>
                <br>
                <br>
                <br>
                <br> $ 40.00
                <h13>..................</h13>$ 25.00
                <br>
                <br>
                <br> $ 40.00
                <h13>..................</h13>$ 25.00
                <br>
                <br>
                <br> $ 40.00
                <h13>.................</h13>$ 25.00
                <br>
                <br>
                <br> $ 40.00
                <h13>..................</h13>$ 25.00
                <br>
                <br>
                <br>
                <br> $ 40.00
                <h13>..................</h13>$ 25.00
                <br>
                <br>
                <br> $ 80.00
                <h13>..................</h13>$ 50.00
                <br>
                <br>
                <br> $ 40.00
                <h13>..................</h13>$ 25.00
                <br>
                <br> $ 50.00
                <h13>..................</h13>$ 35.00
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> $ 60.00
                <h13>..................</h13>$ 35.00
                <br>
                <br>
                <br> $ 80.00
                <h13>..................</h13>$ 55.00
                <br>
                <br>
                <br> $ 75.00
                <h13>..................</h13>$ 50.00
                <br>
                <br>
                <br> $ 100.00
                <h13>..................</h13>$ 65.00
                <br>
                <br>
                <br>
                <br> $65.00
                <h13>..................</h13>$ 40.00
                <br>
                <br>
                <br> $ 90.00
                <h13>..................</h13>$ 60.00
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> $ 60.00
                <h13>..................</h13>$ 40.00
                <br>
                <br>
                <br>
                <br> $ 50.00
                <h13>..................</h13>$ 28.00
                <br>
                <br>
                <br> $ 40.00
                <h13>..................</h13>$ 24.00
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> $ 85.00
                <h13>..................</h13>$ 55.00
                <br>
                <br>
                <br> $ 90.00
                <h13>..................</h13>$ 60.00
                <br>
                <br>
                <br>
                <br> $ 85.00
                <h13>..................</h13>$ 55.00
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> $ 100.00
                <h13>..................</h13>$ 65.00
                <br>
                <br>
                <br>
                <br> $ 40.00
                <h13>..................</h13>$ 25.00
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> $ 75.00
                <h13>..................</h13>$ 40.00
                <br>
                <br>
                <br> $ 50.00
                <h13>..................</h13>$ 30.00
                <br>
                <br>
                <br> $ 60.00
                <h13>..................</h13>$ 40.00
                <br>
                <br>
                <br> $ 60.00
                <h13>..................</h13>$ 35.00

            </div>

        </div>

    </div>

    <div class="container"></div>

    <div id="pick">
        <h11>If You are unable to pick up your order we will deliver it to you for a 5 % extra charge
            <br> (min $20.00)
            <br> For plates, silverware, napkins, cups and etc. extra carges
            <br> Options and prices subject to change.
            <br> </h11>
    </div>


</template>